@model List<Panaderia.Models.UsuariosViewModel>
@{
    ViewBag.Title = "Index";
}

@if(Model!=null){
<div class="container mt-3">
    <h2>Usuarios</h2>
    <button type="button" class="btn btn-info" onclick=document.location.href='@Url.Content("~/ManejoUsuarios/AgregarUsuario")'>Nuevo</button>
    <table class="table table-dark table-hover t-center">
        <thead>
            <tr class="text-center">

                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id_usuario="'@item.id_usuario'">
                    
                    <td>@item.nombre</td>
                    <td>@item.apellido</td>
                    <td>@item.direccion</td>
                    <td>@item.email</td>
                    <td>@item.users</td>
                    <td>@item.pass</td>
                    <td>@item.rol</td>
                    <td>
                        <input onclick="document.location.href='@Url.Content("~/ManejoUsuarios/EliminarUsuario/" + item.id_usuario)'" type="button" value="Eliminar" class="btn btn-danger" />&nbsp;
                    <input onclick="document.location.href='@Url.Content("~/ManejoUsuarios/ModificarUsuario/" + item.id_usuario)'" type="button" value="Editar" class="btn btn-default" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
}else{
<div class="container mt-3">
    <h2>No hay usuarios</h2>
</div>
}


