@model List<Panaderia.Models.UsuariosViewModel>
@{
    ViewBag.Title = "Index";
}

@if(Model!=null){
<div class="container mt-3">
    <h2>Usuarios</h2>
    <button type="button" class="btn btn-info" onclick=document.location.href='@Url.Content("~/ManejoUsuarios/AgregarUsuario")'>Nuevo</button>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Id_Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id_usuario</td>
                    <td>@item.nombre</td>
                    <td>@item.apellido</td>
                    <td>@item.direccion</td>
                    <td>@item.email</td>
                    <td>@item.users</td>
                    <td>@item.pass</td>
                    <td>@item.rol</td>
                    <td>
                        <input onclick="document.location.href='@Url.Content("~/ManejoUsuarios/EliminarUsuario/" + item.id_usuario)'" type="button" value="Eliminar" class="btn btn-danger" />
                    <input onclick="document.location.href='@Url.Content("~/ManejoUsuarios/ModificarUsuario/" + item.id_usuario)'" type="button" value="Editar" class="btn btn-default" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
}else{
<div class="container mt-3">
    <h2>No hay usuarios</h2>
</div>
}
<script>
    function EliminarUsuario(id) {
        if (confirm("Esta Seguro de Eliminar A Este Usuario?????")) {
            url = "@Url.Content("~/ManejoUsuarios/EliminarUsuario")" + "/" + id;
            $.post(url, (data) => {
                if (data == 1) {
                    document.location.href = "@Url.Content("~/ManejoUsuarios/")"
                } else {
                    alert("Ocurrio un Error :c")
                }
            })
        }
    }
</script>

